@font-face {
    font-family: 'Pluto';
    src: url('PlutoMedium.eot');
    src: local('Pluto Medium'), local('PlutoMedium'),
        url('PlutoMedium.eot?#iefix') format('embedded-opentype'),
        url('PlutoMedium.woff') format('woff'),
        url('PlutoMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto';
    src: url('PlutoBlack.eot');
    src: local('Pluto Black'), local('PlutoBlack'),
        url('PlutoBlack.eot?#iefix') format('embedded-opentype'),
        url('PlutoBlack.woff') format('woff'),
        url('PlutoBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Cond';
    src: url('PlutoCondHeavy.eot');
    src: local('Pluto Cond Heavy'), local('PlutoCondHeavy'),
        url('PlutoCondHeavy.eot?#iefix') format('embedded-opentype'),
        url('PlutoCondHeavy.woff') format('woff'),
        url('PlutoCondHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto';
    src: url('PlutoExtraLight.eot');
    src: local('Pluto ExtraLight'), local('PlutoExtraLight'),
        url('PlutoExtraLight.eot?#iefix') format('embedded-opentype'),
        url('PlutoExtraLight.woff') format('woff'),
        url('PlutoExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto';
    src: url('PlutoRegular.eot');
    src: local('Pluto Regular'), local('PlutoRegular'),
        url('PlutoRegular.eot?#iefix') format('embedded-opentype'),
        url('PlutoRegular.woff') format('woff'),
        url('PlutoRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Cond';
    src: url('PlutoCondBold.eot');
    src: local('Pluto Cond Bold'), local('PlutoCondBold'),
        url('PlutoCondBold.eot?#iefix') format('embedded-opentype'),
        url('PlutoCondBold.woff') format('woff'),
        url('PlutoCondBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Cond';
    src: url('PlutoCondLight.eot');
    src: local('Pluto Cond Light'), local('PlutoCondLight'),
        url('PlutoCondLight.eot?#iefix') format('embedded-opentype'),
        url('PlutoCondLight.woff') format('woff'),
        url('PlutoCondLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Cond';
    src: url('PlutoCondBlack.eot');
    src: local('Pluto Cond Black'), local('PlutoCondBlack'),
        url('PlutoCondBlack.eot?#iefix') format('embedded-opentype'),
        url('PlutoCondBlack.woff') format('woff'),
        url('PlutoCondBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Cond';
    src: url('PlutoCondExtraLight.eot');
    src: local('Pluto Cond ExtraLight'), local('PlutoCondExtraLight'),
        url('PlutoCondExtraLight.eot?#iefix') format('embedded-opentype'),
        url('PlutoCondExtraLight.woff') format('woff'),
        url('PlutoCondExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Cond';
    src: url('PlutoCondMedium.eot');
    src: local('Pluto Cond Medium'), local('PlutoCondMedium'),
        url('PlutoCondMedium.eot?#iefix') format('embedded-opentype'),
        url('PlutoCondMedium.woff') format('woff'),
        url('PlutoCondMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto';
    src: url('PlutoLight.eot');
    src: local('Pluto Light'), local('PlutoLight'),
        url('PlutoLight.eot?#iefix') format('embedded-opentype'),
        url('PlutoLight.woff') format('woff'),
        url('PlutoLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Cond';
    src: url('PlutoCondThin.eot');
    src: local('Pluto Cond Thin'), local('PlutoCondThin'),
        url('PlutoCondThin.eot?#iefix') format('embedded-opentype'),
        url('PlutoCondThin.woff') format('woff'),
        url('PlutoCondThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto';
    src: url('PlutoBold.eot');
    src: local('Pluto Bold'), local('PlutoBold'),
        url('PlutoBold.eot?#iefix') format('embedded-opentype'),
        url('PlutoBold.woff') format('woff'),
        url('PlutoBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto';
    src: url('PlutoHeavy.eot');
    src: local('Pluto Heavy'), local('PlutoHeavy'),
        url('PlutoHeavy.eot?#iefix') format('embedded-opentype'),
        url('PlutoHeavy.woff') format('woff'),
        url('PlutoHeavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto Cond';
    src: url('PlutoCondRegular.eot');
    src: local('Pluto Cond Regular'), local('PlutoCondRegular'),
        url('PlutoCondRegular.eot?#iefix') format('embedded-opentype'),
        url('PlutoCondRegular.woff') format('woff'),
        url('PlutoCondRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pluto';
    src: url('PlutoThin.eot');
    src: local('Pluto Thin'), local('PlutoThin'),
        url('PlutoThin.eot?#iefix') format('embedded-opentype'),
        url('PlutoThin.woff') format('woff'),
        url('PlutoThin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

